html,
body {
   height: 100%;
   // position: relative;
   // overflow-x: hidden;
}
a {
   display: inline-block;
   text-decoration: none;
}
ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   font-family: "Gelasio", serif;
   font-size: 18px;
   font-weight: 400;
}
.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.content {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
.container {
   max-width: 1170px;
   margin: 0px auto;
   padding: 0px 15px;
}
.btn {
   background-color: #c9453b;
   border-radius: 5px;
   color: #fff;
   padding: 14px 35px;
   font-weight: 400;
}
.text {
   font-size: 18px;
   line-height: 160%;
   color: #000000;
   opacity: 0.6;
   font-weight: 400;
}
.title {
   margin-top: 140px;
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 43px;
   line-height: 140%;
   color: #000000;
   text-align: center;
}
